body{
    margin:0;
    font-family:Arial;
    text-align:center;
    background:#87CEEB;
}

h1{
    color:white;
}

#game{
    width:500px;
    height:600px;
    background:white;
    margin:20px auto;
    border:3px solid black;
    position:relative;
    overflow:hidden;
}

#score{
    font-size:22px;
    padding:10px;
    font-weight:bold;
}

#ball{
    width:30px;
    height:30px;
    background:red;
    border-radius:50%;
    position:absolute;
    top:0;
    left:230px;
}

#basket{
    width:100px;
    height:20px;
    background:brown;
    position:absolute;
    bottom:10px;
    left:200px;
}

#life{
    position:absolute;
    top:10px;
    right:15px;
    font-size:24px;
}

#gameOver{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    color:white;
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

#gameOver h2{
    font-size:40px;
    margin-bottom:10px;
}

#gameOver button{
    margin-top:20px;
    padding:10px 20px;
    font-size:18px;
    cursor:pointer;
}